.project-main {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.project-main-image {
  display: block;
  margin: 0 auto;
}

.project-title {
  color: #e37239;
  font-family: var(--body-font);
  font-size: 50px;
  font-weight: 700;
  text-align: left;
}

.project-tag {
  color: #fff;
  font-family: var(--body-font);
  font-size: 20px;
  font-weight: 300;
}

.project-description {
  color: #fff;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 200;
}

.portfolio-link {
  color: #fff;
  font-style: italic;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.portfolio-link:hover {
  color: #e37239;
}

.project-button {
  padding: 15px 20px;
  color: #e37239;
  border: 1px solid #e37239;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}

.project-button:hover {
  background-color: #e37239;
  color: #fff;
}
