@font-face {
  font-family: "Crafter-Rough";
  src: url("/media/fonts/Crafter-Rough.otf") format("opentype");
}

@font-face {
  font-family: "Benton-Sans";
  src: url("/media/fonts/Benton-Sans/BentonSans-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("/media/fonts/Benton-Sans/BentonSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("/media/fonts/Benton-Sans/BentonSans-Medium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("/media/fonts/Benton-Sans/BentonSans-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("/media/fonts/Benton-Sans/BentonSans-Book.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("/media/fonts/Benton-Sans/BentonSans-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("/media/fonts/Benton-Sans/BentonSans-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Benton-Sans";
  src: url("/media/fonts/Benton-Sans/BentonSans-Thin.ttf") format("truetype");
  font-weight: 100;
}

:root {
  --header-font: "Crafter-Rough", sans-serif;
  --body-font: "Benton-Sans", sans-serif;
}

body {
  background-color: #171c2d;
}

h1 {
  color: #fff;
  font-family: var(--header-font);
  font-size: 100px;
}

h2 {
  color: #fff;
  font-family: var(--body-font);
  font-size: 48px;
  font-weight: 300;
}

h3 {
  color: #fff;
  font-family: var(--header-font);
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}

h4 {
  color: #e37239;
  font-family: var(--body-font);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.nav-link {
  font-family: var(--body-font);
  font-weight: 500;
}

.navbar-brand {
  margin-left: 40px;
  font-family: var(--header-font);
}

.menu-tabs {
  margin-right: 40px;
}

.active {
  border-bottom: 1px solid #fff;
}

.hero-section {
  display: flex;
}

.hero-header {
  position: absolute;
  bottom: 875px;
  left: 50px;
  text-align: left;
}

.hero-background {
  width: 100%;
  height: 100%;
}

.discover-link {
  text-decoration: none;
  color: #fff;
  font-family: var(--body-font);
  font-size: 22px;
  font-style: italic;
  font-weight: 200;
}

.discover-link:hover,
.footer-link:hover,
.feature-link:hover {
  text-decoration: underline;
  color: #ff9933;
  cursor: pointer;
}

.feature-category {
  color: #fff;
  font-family: var(--body-font);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.feature-link {
  display: block;
  margin: 0 auto;
  color: #fff;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
}

.site-footer {
  margin: 30px;
  color: #e37239;
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

#sk-logo {
  max-width: 125px;
}
