:root {
  --header-font: "Krona One", sans-serif;
  --body-font: "Zen Kaku Gothic Antique", sans-serif;
}

body {
  background-color: antiquewhite;
}

h1 {
  color: white;
  font-family: var(--header-font);
  font-size: 72px;
}

h2 {
  color: white;
  font-family: var(--body-font);
  font-size: 48px;
  font-weight: 400;
}

p {
  font-family: var(--body-font);
  font-weight: 300;
}

.home-hero {
  position: relative;
  bottom: 850px;
  left: 75px;
  text-align: left;
}

.home-background {
  width: 100%;
}

.discover-link {
  text-decoration: none;
  color: white;
  font-family: var(--body-font);
  font-size: 24px;
  font-weight: 100;
}

.discover-link:hover {
  text-decoration: underline;
  color: coral;
  cursor: pointer;
}
